name: Release NPM packages

on:
  push:
    branches:
      - main

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          # pulls all commits (needed for lerna / semantic release to correctly version)
          fetch-depth: "0"
      # pulls all tags (needed for lerna / semantic release to correctly version)
      - run: git fetch --depth=1 origin +refs/tags/*:refs/tags/*
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          cache: 'pnpm'
      - name: Install dependencies
        env:
          HUSKY_SKIP_INSTALL: 1
          NPM_TOKEN: ""
        run: pnpm install --frozen-lockfile
      - run: pnpm run build
        env:
          NPM_TOKEN: ""
      - name: Configure Git User
        run: |
          git config --global user.name '@homer0'
          git config --global user.email 'homer0@users.noreply.github.com'
      - name: Tag versions
        run: npx lerna version --conventional-commits --yes
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ""
      - name: Make releases
        run: |
          npm config set access public
          pnpm exec lerna publish from-git --concurrency 1
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
